@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
    --cor-de-fundo:#00CCDD;
    --cor-primaria:#624E88;
    --cor-secundaria:#FF885B;
    --fonte:"Nunito Sans", sans-serif;
}

